这是一个测试
# 下载数据集

In [3]:
import pandas as pd
import requests
from io import StringIO

url = "https://cdn.aibydoing.com/aibydoing/files/challenge-1-beijing.csv"

# 模拟浏览器头
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3"
}

# 发送HTTP请求并获取响应
response = requests.get(url, headers=headers)

# 将响应内容解析为DataFrame
df = pd.read_csv(StringIO(response.text))

df.head()

   公交  写字楼  医院  商场  地铁  学校  小区名字  建造时间    房型  楼层  每平米价格   面积
0  18   18  10   0   2  49  远洋山水  2006  2室1厅  26  60937   96
1  17   42  10   0   4  37   椿树园  1998  3室1厅  14  88686  130
2  18   36   9   0   1  24  永乐小区  1989  3室1厅  18  46621   74
3  15   49  13   0   2  45  主语家园  2007  4室3厅   2  86147  462
4   6    0   0   0   0   0  天伦锦城  2007  1室1厅  13  42500   64

# 数据集划分

In [4]:
features = df[['公交','写字楼','医院','商场','地铁','学校','建造时间','楼层','面积']]
target = df['每平米价格']
pd.concat([features, target], axis=1).head() #用于将两个 DataFrame 或 Series ​按列（axis=1）​​ 拼接在一起，并显示拼接后的前几行数据（默认是前 5 行）

   公交  写字楼  医院  商场  地铁  学校  建造时间  楼层   面积  每平米价格
0  18   18  10   0   2  49  2006  26   96  60937
1  17   42  10   0   4  37  1998  14  130  88686
2  18   36   9   0   1  24  1989  18   74  46621
3  15   49  13   0   2  45  2007   2  462  86147
4   6    0   0   0   0   0  2007  13   64  42500

In [5]:
split_num = int(len(features) * 0.7)
x_train, x_test, y_train, y_test = features[:split_num], features[split_num:], target[:split_num], target[split_num:]
len(x_train), len(x_test), len(y_train), len(y_test)

(2100, 900, 2100, 900)

# 构建和训练模型

In [6]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(x_train, y_train)
preds = model.predict(x_test)
model.coef_[:3], len(model.coef_)

(array([  6.59398431, 299.47265083, 371.60427218]), 9)

# 模型评价
用MAPE(平均绝对百分比误差)来评估，MAPE 是一个百分比值，因此比其他统计量更容易理解。例如，如果 MAPE 为5 ，则表示预测结果较真实结果平均偏离5%
MAPE 的计算公式如下：
MAPE = 100 * (|y_pred - y_true| / y_true)

In [7]:
import numpy as np

def mape(y_true, y_pred):
    """
    参数：
    y_true -- 测试集目标真实值
    y_pred -- 测试集目标预测值
    
    返回：
    mape -- MAPE 评价指标
    """
    
    ### 代码开始 ### (≈ 2 行代码)
    n = len(y_true)
    mape = 100 * np.sum(np.abs((y_true-y_pred)/y_true)) / n
    ### 代码结束 ###
    
    return mape
y_true = y_test.values
y_pred = model.predict(x_test)
mape(y_true, y_pred)

45.50618854676239

可以看到，最终得到的 MAPE 值较大，意味着预测的偏移量较大。在线性回归实验中，我们提到预测结果较差的一个原因可能是数据没有经过预处理。除此之外，线性回归本身就是一种非常基础简单的预测方法。对于房价这种包含多个特征的预测问题，我们往往要使用更复杂的方法来进行回归预测才能得到更好的结果。